*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: montserrat;
}
nav{
    height: 80%;
    width: 100%;
    background-color: rgb(51, 133, 204);
}

one.label{
    font-size: 35px;
    font-weight: bold;
    padding: 0 100px;
    color: white;
    line-height: 80px;
}
nav ul{
    float: right;
    margin-right: 40px;
    
}
nav li{
    display: inline-block;
    line-height: 80px;
    margin: 0 8px;

}
nav a{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding:  7px 10px;
    border-radius: 3px;

}

a.active, a:hover{
    border:1px solid white;
    transition: .5s;
}
nav #icon{
    color: white;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    margin-right: 40px;
    cursor: pointer; 
}

@media (max-width: 1048px){
    one.label{
        font-size: 32px;
        padding-left: 60px ;
    }
    nav ul{
        margin-right: 20px;
    }
    nav a{
        font-size: 17px;
    }
}
@media (max-width: 909px){
    nav #icon{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2f3640; 
        top: 80px;
        left:-100;
        text-align: center;

    }
    nav li{
        display: block;
        margin: 50px 0;
         line-height: 30px  ;
    }
    nav a{
        font-size: 20px;
    }
    a.active, a:hover{
        border:none;
        color: #3498db;
    }
    nav ul.show{
        left: 0;
    }
}

    
section{
    background: url(/navbar1/images/one.jpg)no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
}
